.sign-meup-btn,
.get-qt-btn,
.req-btn {
  margin-top: 100px;
}
.read-more {
  color: crimson;
  cursor: pointer;
}
.modal-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
  color: #c4cfdd;
  margin-top: 20px;
  margin-bottom: 40px;
}
.send-btn span {
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.send-btn span .send-icon {
  transform: rotate(45deg) !important;
  height: 16px;
}
.send-btn span:hover {
  color: white !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.modal-body .banner-modal-body p,
.news-details p {
  margin-bottom: 12px !important;
}
.modal-body .banner-modal-body h2 {
  margin-bottom: 20px !important;
}
.modal-body .banner-modal-body h2:not(:first-child),
.news-details h2:not(:first-child) {
  margin-top: 50px !important;
}
.modal-body .banner-modal-body li,
.news-details li {
  color: #212121;
}
.modal-body .banner-modal-body li::marker,
.news-details li::marker {
  color: red;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.h1 {
  font-size: 48px;
  display: inline;
}
@media only screen and (max-width: 767px) {
  h3 {
    font-size: 30px;
  }
}
@media only screen and (min-width: 1023px) {
  .h1 {
    font-size: 44px;
  }
}
@media only screen and (min-width: 767px) {
  .h1 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 424px) {
  .h1 {
    font-size: 26px;
    display: none;
  }
  .h1-mobile {
    font-size: 26px;
    display: inline;
  }
}
@media only screen and (min-width: 425px) {
  .h1 {
    display: inline;
  }
  .h1-mobile {
    display: none;
  }
}
