.sign-meup-btn,
.get-qt-btn,
.req-btn {
  margin-top: 50px;
}
.read-more {
  color: crimson;
  cursor: pointer;
}
.modal-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
  color: #c4cfdd;
  margin-top: 20px;
  margin-bottom: 40px;
}
.send-btn span {
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.send-btn span .send-icon {
  transform: rotate(45deg) !important;
  height: 16px;
}
.send-btn span:hover {
  color: white !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.modal-body .banner-modal-body p,
.news-details p {
  margin-bottom: 12px !important;
}
.modal-body .banner-modal-body h2 {
  margin-bottom: 20px !important;
}
.modal-body .banner-modal-body h2:not(:first-child),
.news-details h2:not(:first-child) {
  margin-top: 50px !important;
}
.modal-body .banner-modal-body li,
.news-details li {
  color: #212121;
}
.modal-body .banner-modal-body li::marker,
.news-details li::marker {
  color: red;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.h1 {
  font-size: 48px;
  display: inline;
}
.slide {
  padding-bottom: 20px;
}
.rn-section-gap {
  padding: 50px 0px;
}
.home-classic .portfolio-style-two {
  padding: 50px 0;
}
@media only screen and (max-width: 767px) {
  h3 {
    font-size: 30px;
  }
  .pb-md-90 {
    padding-bottom: 90px !important;
  }
}
@media only screen and (min-width: 1023px) {
  .h1 {
    font-size: 44px;
  }
}
@media only screen and (min-width: 767px) {
  .h1 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 500px) {
  .mobile-mx-12 {
    margin-left: 12px !important;
    margin-right: 12px !important;
  }
  .px-18 {
    padding: 0px 18px !important;
  }
}
@media only screen and (max-width: 500px) {
  .h1 {
    font-size: 26px;
    display: none;
  }
  .h1-mobile {
    font-size: 26px;
    display: inline;
  }
  .text-md-center {
    text-align: left !important;
  }
}
@media only screen and (min-width: 501px) {
  .h1 {
    display: inline;
  }
  .h1-mobile {
    display: none;
  }
  .text-md-center {
    text-align: center !important;
  }
}
.rn-service:hover img {
  filter: brightness(0) invert() !important;
}
.logo1 img {
  height: 54px;
  width: 54px;
}
.sticky .header-wrapper .logo1 img {
  max-width: 100%;
}
